{% extends 'dashboard.html' %}
{% block body %}

<h1>Choose Role to Use</h1>
<div class="container">
    <div >
        {% for role in roles %}
            {% if role.id == 1 %}
                <h5>{{ role.id }} -- <a href="{% url 'adminPage' %}">{{ role.role }}</a></h5>
            {% elif role.id == 2 %}
                <h5>{{ role.id }} -- <a href="{% url 'audPage' %}">{{ role.role }}</a></h5>
            {% else %}
                <h5>{{ role.id }} -- <a href="{% url 'subPage' %}">{{ role.role }}</a></h5>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}